{
  "pid": "bw.application.FileProcess.application_1.0",
  "properties": {
    ".type.\/\/FileProcess\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": ".type.\/\/FileProcess\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/FileProcess\/\/BW.MODULE.VERSION": {
      "name": ".type.\/\/FileProcess\/\/BW.MODULE.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/FileProcess\/\/BW.MODULE.NAME": {
      "name": "\/\/FileProcess\/\/BW.MODULE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/FileProcess\/\/FilePath": {
      "name": "\/\/FileProcess\/\/FilePath",
      "value": "D:\\workspace",
      "type": "java.lang.String"
    },
    "\/\/FileProcess\/\/BW.HOST.NAME": {
      "name": "\/\/FileProcess\/\/BW.HOST.NAME",
      "value": "localhost",
      "type": "java.lang.String"
    },
    ".bundle.name": {
      "name": ".bundle.name",
      "value": "FileProcess.application",
      "type": "java.lang.String"
    },
    ".type.\/\/FileProcess\/\/FilePath": {
      "name": ".type.\/\/FileProcess\/\/FilePath",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/FileProcess\/\/BW.HOST.NAME": {
      "name": ".type.\/\/FileProcess\/\/BW.HOST.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/FileProcess\/\/BW.MODULE.VERSION": {
      "name": "\/\/FileProcess\/\/BW.MODULE.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/FileProcess\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": "\/\/FileProcess\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".bundle.version": {
      "name": ".bundle.version",
      "value": "1.0.0.qualifier",
      "type": "java.lang.String"
    },
    ".type.\/\/FileProcess\/\/BW.APPNODE.NAME": {
      "name": ".type.\/\/FileProcess\/\/BW.APPNODE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/FileProcess\/\/BW.MODULE.NAME": {
      "name": ".type.\/\/FileProcess\/\/BW.MODULE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/FileProcess\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": "\/\/FileProcess\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/FileProcess\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": "\/\/FileProcess\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "",
      "type": "java.lang.String"
    },
    ".module.name": {
      "name": ".module.name",
      "value": "FileProcess.application",
      "type": "java.lang.String"
    },
    ".rev": {
      "name": ".rev",
      "value": 1,
      "type": "java.lang.Integer"
    },
    "\/\/FileProcess\/\/SourceFile": {
      "name": "\/\/FileProcess\/\/SourceFile",
      "value": "D:\\workspace\\File.txt",
      "type": "java.lang.String"
    },
    ".type.\/\/FileProcess\/\/BW.DOMAIN.NAME": {
      "name": ".type.\/\/FileProcess\/\/BW.DOMAIN.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/FileProcess\/\/BW.DOMAIN.NAME": {
      "name": "\/\/FileProcess\/\/BW.DOMAIN.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/FileProcess\/\/BW.APPSPACE.NAME": {
      "name": ".type.\/\/FileProcess\/\/BW.APPSPACE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "bw.application.FileProcess.application_1.0",
      "type": "java.lang.String"
    },
    ".type.\/\/FileProcess\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": ".type.\/\/FileProcess\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/FileProcess\/\/BW.APPNODE.NAME": {
      "name": "\/\/FileProcess\/\/BW.APPNODE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/FileProcess\/\/BW.APPSPACE.NAME": {
      "name": "\/\/FileProcess\/\/BW.APPSPACE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/FileProcess\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": ".type.\/\/FileProcess\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".module.version": {
      "name": ".module.version",
      "value": "1.0",
      "type": "java.lang.String"
    },
    ".type.\/\/FileProcess\/\/SourceFile": {
      "name": ".type.\/\/FileProcess\/\/SourceFile",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    }
  }
}